
body{width:800px;margin:0 auto;text-align:justify;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;}

/*퀵 메뉴*/
#quick_menu{
	width:95px;text-align:center;
	position:absolute;
	top: 15px;0px;right:50px;
	border:none;
}


img {width: 100%;}

#quick_menu ul li a img {width: 45px; margin-bottom: 10px;}



#quick_menu ul li #arrow img {margin-top: 20px;}

#quick_menu ul li #first img {margin-top: 20px;}


#quick_menu img {width: 60px;}